body {
    background-color: rgb(233, 239, 245);
}

#submitDay {
    background-color: rgb(207, 207, 207);
    color: black;
    border: 1px solid black;
    margin: auto;
}

h1.text-center {
    margin-top: 20px;
    font-family: "kranto-display", sans-serif;
    font-weight: 400;
    font-style: normal;
}

thead {
    border: 2px black;
}

#scheduleList {
    border: 2px black;
    background-color: antiquewhite;
}

th {
    text-align: center;
    background-color: rgb(229, 228, 245);
    color: black;
}

h3.text-center {
    margin-top: 20px;
    font-weight: 400;
    font-style: normal;
}